<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
	<compilation debug="true" targetFramework="4.7.2" />
	<httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="IncreasedTimeout" openTimeout="00:01:00" receiveTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00">
				</binding>
			</basicHttpBinding>
		</bindings>
	<behaviors>
	  <serviceBehaviors>
		<behavior>
		  <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
		  <serviceMetadata httpGetEnabled="true"/>
		  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
		  <serviceDebug includeExceptionDetailInFaults="false"/>
		</behavior>
	  </serviceBehaviors>
	</behaviors>
	<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
	<modules runAllManagedModulesForAllRequests="true"/>
	<!--
		To browse web app root directory during debugging, set the value below to true.
		Set to false before deployment to avoid disclosing web app folder information.
	  -->
	<directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
